*{
    margin:0;
    padding: 0;
}
body{
    background-image:linear-gradient(to right,rgba(204, 72, 234, 0.6),rgb(151, 175, 224,0.8));
    
}
h1{
    font-size: 50px;
    color:rgb(107, 9, 120);
    text-align: center;
    font-family: "Delius Swash Caps", cursive;
    font-style: normal;
    
}
/* form{
    display: flex;
    flex-direction: column;
   
    width:400px;
}
.form-element{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
label { 
    flex: 1; 
    margin-right: 10px; 
} 
input, select { 
    flex: 2; 
    padding: 5px; 
    font-size: 1em;
} */
 .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .container{
    font-family: "Delius Swash Caps", cursive;
    font-style: normal;
    font-size: 20px;
    height:400px;
    width:300px;
    background-color: rgba(195, 20, 230, 0.66);
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20px;
    border-radius:40px;
    flex-direction: column;
    /* box-shadow: 5px 5px rgb(140, 140, 148); */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 }

 input#name{
    color:rgb(255, 255, 255);
    padding: 10px;
    border: none;
    background:none;
    border-bottom: 1px solid rgb(24, 24, 27); 
    margin-left: 20px;
    font-family: "Delius Swash Caps", cursive;
    font-style: normal;
    font-size: 20px;
    
 }
 #name::placeholder{
    color:rgb(255, 255, 255);
    margin-left: 35px;
    font-family: "Delius Swash Caps", cursive;
    font-style: normal;
    font-size: 20px;
 }

label{
   
    margin-left: 30px;
    margin-top: 20px;
    color:rgb(255, 255, 255);
}
select{
    margin-top: 20px;
    font-family: "Delius Swash Caps", cursive;
    font-style: normal;
    font-size: 20px;
}
input.submit{
    margin-top: 40px;
    font-family: "Delius Swash Caps", cursive;
    font-style: normal;
    font-size: 20px;
    width:100px;
    height:38px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    margin-left: 85px;
}
input.submit:hover{
    background-color: cadetblue;
}
#questionWrapper{
    display:flex ;
    height:100vh; 
    justify-content: center;
    align-items: center;
}
#questions{
    display: flex;
    justify-content: center;
   /* align-items: center; */
    flex-direction: column; 
    width:fit-content;
    height: 300px; 
    background-color: white;
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
    font-size:20px;
    border-radius: 50px;
    padding: 50px;
}
#questions h3{
    text-align: center;
}
#questionWrapper{
    display: none;
}
#questions p{
    font-weight: bolder;
}
#questions label{
    color: black;
    margin-left: 5px;
}
#scores h3{
    color: black;
   
}
#scores{
    display: flex;
    justify-content: center;
    align-items: center;
}